<!DOCTYPE html>
<html>
<head>
  <title>Collaborave</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <!--<script src="http://localhost:3000/assets/plangular.min.js"></script>-->
  <%= csrf_meta_tags %>
</head>
<body id="background">
<%= render partial: 'layouts/nav' unless current_page?(root_url) %>

<%= yield %>

</body>
</html>
