<!DOCTYPE html>
<html>
<head>
  <title>Collaborave - A Social Playlist for Parties</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body id="background">
<%= render partial: 'layouts/nav' unless current_page?(root_url) %>

<%= yield %>

</body>
</html>
