<!DOCTYPE html>
<html>
<head>
  <title>Collaborave - A Social Playlist for Parties</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
  <script>
      SC.initialize({
          '<%= ENV['SC_CLIENT_ID'] %>',
          redirect_uri: "http://collaborave.herokuapp.com/callback"
      });
  </script>
  <%= csrf_meta_tags %>
</head>
<body id="background">
<%= render partial: 'layouts/nav' unless current_page?(root_url) %>

<%= yield %>

</body>
</html>
